/* VARIABLES 
======================== */
$dark-blue: 		#34495e;
$dark-red: 			#c0392b;
$light-blue: 		#3498db;
$light-green: 		#62cb31;
$light-purple: 		#9b59b6;
$light-red: 		#e74c3c;
$orange: 			#e75637;
$yellow: 			#ffb606;
$light-grey: 		#a2a4a7;

$border-color: 		#e4e5e7;
$main-bg: 			#f1f3f6;
$main-color: 		#6a6c6f;
$sidebar-bg: 		#f7f9fa;
$white: 			#ffffff;

$font: 				'Open Sans', sans-serif;

/* MIXIN 
======================== */
@mixin border-radius($x){
	-webkit-border-radius: $x;
	   -moz-border-radius: $x;
		-ms-border-radius: $x;
		 -o-border-radius: $x;
			border-radius: $x;
}
@mixin transition($x){
	-webkit-transition: all $x ease;
	   -moz-transition: all $x ease;
		-ms-transition: all $x ease;
		 -o-transition: all $x ease;
			transition: all $x ease;
}
@mixin transform($x,$y){
	-webkit-transform: translate($x,$y);
	   -moz-transform: translate($x,$y);
		-ms-transform: translate($x,$y);
		 -o-transform: translate($x,$y);
			transform: translate($x,$y);
}

/* MAIN 
======================== */
body{
	background: $main-bg;
}
a{
	color: $main-color;
	text-decoration: none;
	@include transition(.4s);

	&:hover{
		color: $light-blue;
		text-decoration: none;
	}
}
.color-line{
	background: $sidebar-bg;
	height: 6px;
	background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
}
.flexbox{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.message{
	padding: 15px 25px;
	color: #fff;
}
.error-msg{
	background: $light-red;
	border-bottom: 2px solid $dark-red;
}
.success-msg{
	background: $light-green;
	border-bottom: 2px solid darken($light-green, 10%);
}
.align-right{
	text-align: right;
}

.green 			{color:$light-green;}
.red 			{color:$light-red;}
.blue 			{color:$light-blue;}

.green-bottom 	{border-bottom: 2px solid $light-green;}
.red-bottom 	{border-bottom: 2px solid $light-red;}
.blue-border 	{border-bottom: 2px solid $light-blue;}
.purple-border 	{border-bottom: 2px solid $light-purple;}

/* HEADER
======================== */
header{
	.navigation{
		background: $white;
		border-bottom: 1px solid $border-color;

		.logo{
			text-align: center;
			font-weight: 700;
			color: $dark-blue;
			width: 15%;

			a{
				background: $sidebar-bg;
				display: block;
				color: $dark-blue;
				border-right: 1px solid $border-color;
				padding: 15px 15px;
				@include transition(.4s);

				&:hover{
					background: $white;
					color: $light-blue;
					text-decoration: none;
				}
			}
		}
		.expenses{
			background: $sidebar-bg;

			ul{
				list-style-type: none;
				padding: 0;
				margin: 0;

				li{
					color: $main-color;
					font-style: italic;
					padding: 15px 20px;
					display: inline-block;

					span:before{
						content: "€";
						margin-right: 3px;
					}

					&:last-child{
						border-right: 1px solid $border-color;
					}
				}
			}
		}

		.navbar-right{
			width: 56%;

			ul{
				text-align: right;
				list-style-type: none;
				padding: 0;
				margin: 0;

				li{
					display: inline-block;

					a{
						display: inline-block;
						padding: 13px 25px;
						color: #a2a4a7;

						&:hover{
							color: #3498db;
						}
					}
				}
			}
		}		
	}
}

/* SIDEBAR 
======================== */
.sidebar{
	background: $white;
	border-right: 1px solid $border-color;
	height: 100%;
	position: fixed;
	padding: 0;

	.logo{
		margin-top: 25px;
		margin-bottom: 25px;

		a{
			display: block;
			text-align: center;	

			img{
				width: 60%;
			}
		}
	}

	.menu{
		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;

			li{
				border-top: 1px solid $border-color;

				a{
					text-align: left;
					font-weight: 700;
					display: block;
					padding: 15px 20px;
					text-transform: uppercase;
					color: $main-color;
					background: $main-bg;
					@include transition(.4s);

					i 		{float: right;}

					&:hover{
						color: $dark-blue;
						background: $white;
						text-decoration: none;
					}
				}

				&:last-child{
					border-bottom: 1px solid $border-color;
				}
			}
		}
		.active-page{
			color: $light-blue !important;
			background: #fff !important;
		}
	}

	.copy{
		margin-top: 25px;
		color: $main-color;
		font-size: .8em;
		text-align: center;

		p 		{margin: 3px 0;}
	}
}

/* CONTENT 
======================== */
.login-container{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 45%;
	text-align: center;
	@include transform(-50%,-50%);

	img{
		width: 200px;
	}

	form{
		margin: 50px 125px;
		text-align: left;

		input{
			margin-bottom: 5px;
			@include border-radius(0);
		}
		button{
			@include border-radius(0);
		}
	}
}

.page .container{
	color: $main-color;
	padding: 0;
	margin-top: 50px;
}
.page-title{
	margin-bottom: 35px;
	justify-content: space-between;

	h1{
		margin: 0;
		color: #000;
		font-size: 2em;
	}
}
.panel{
	margin-bottom: 50px;
	border: none;
	box-shadow: none;
	@include border-radius(0);

	.panel-heading{
		background: $main-bg;
		
		ul{
			display: inline-block;
			list-style-type: none;
			text-align: right;
			float: right;

			li{
				display: inline-block;
				
				.green 				{margin-right: 5px;}
				.red 				{margin-right: 5px;}
				&:last-child 		{margin-left: 10px;}
			}
		}

		span{
			font-weight: 400;
			font-style: italic;

			&:before{
				content: '€';
				margin-right: 5px;
			}
		}
	}

	.item-title{
		border-bottom: 1px solid $border-color;
	}

	.item-title, .item{
		span{
			padding: 3px 0;
			display: inline-block;
		}

		.date 		{width: 10%;}
		.title 		{width: 68%;}

		.budget{
			font-style: italic;
			text-align: right;
			width: 20%;
		}
	}

	.todo-list{
		margin: 0;
		padding-left: 20px;

		li{
			padding: 3px 0;
		}

		a{
			float: right;
		}
	}
}
.doc-table{
	th:first-child,
	td:first-child{
		width: 40px;
	}
	th:nth-child(2),
	td:nth-child(2){
		width: 125px;
	}
	th:nth-child(3),
	td:nth-child(3){
		width: 200px;
	}
	th:nth-child(5),
	td:nth-child(5){
		text-align: right;
		width: 125px;
	}
	th:last-child,
	td:last-child{
		width: 100px;
		text-align: right;
		font-style: italic;
	}
}


/* FOOTER 
======================== */

/* RESPONSIVE 
======================== */

/* ANIMATION 
======================== */