@charset "UTF-8";
/* VARIABLES 
======================== */
/* MIXIN 
======================== */
/* MAIN 
======================== */
body {
  background: #f1f3f6;
  margin-top: 55px;
}

a {
  color: #6a6c6f;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover {
  color: #3498db;
  text-decoration: none;
}

.color-line {
  background: #f7f9fa;
  height: 6px;
  background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.message {
  padding: 15px 25px;
  color: #fff;
}

.error-msg {
  background: #e74c3c;
  border-bottom: 2px solid #c0392b;
}

.success-msg {
  background: #62cb31;
  border-bottom: 2px solid #4ea227;
}

.align-right {
  text-align: right;
}

.green {
  color: #62cb31;
}

.red {
  color: #e74c3c;
}

.blue {
  color: #3498db;
}

.green-bottom {
  border-bottom: 2px solid #62cb31;
}

.red-bottom {
  border-bottom: 2px solid #e74c3c;
}

.blue-border {
  border-bottom: 2px solid #3498db;
}

.purple-border {
  border-bottom: 2px solid #9b59b6;
}

/* HEADER
======================== */
header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
header .navigation {
  background: #ffffff;
  border-bottom: 1px solid #e4e5e7;
}
header .navigation .logo {
  text-align: center;
  font-weight: 700;
  color: #34495e;
  width: 16%;
}
header .navigation .logo a {
  background: #f7f9fa;
  display: block;
  color: #34495e;
  border-right: 1px solid #e4e5e7;
  padding: 15px 15px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
header .navigation .logo a:hover {
  background: #ffffff;
  color: #3498db;
  text-decoration: none;
}
header .navigation .expenses {
  background: #f7f9fa;
}
header .navigation .expenses ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .navigation .expenses ul li {
  color: #6a6c6f;
  font-style: italic;
  padding: 15px 20px;
  display: inline-block;
}
header .navigation .expenses ul li span:before {
  content: "€";
  margin-right: 3px;
}
header .navigation .expenses ul li:last-child {
  border-right: 1px solid #e4e5e7;
}
header .navigation .navbar-right {
  margin-left: auto;
}
header .navigation .navbar-right ul {
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .navigation .navbar-right ul li {
  display: inline-block;
}
header .navigation .navbar-right ul li a {
  display: inline-block;
  padding: 13px 25px;
  color: #a2a4a7;
}
header .navigation .navbar-right ul li a:hover {
  color: #3498db;
}

/* SIDEBAR 
======================== */
.sidebar {
  background: #ffffff;
  border-right: 1px solid #e4e5e7;
  height: 100%;
  position: fixed;
  padding: 0;
  width: 16%;
}
.sidebar .logo {
  margin-top: 25px;
  margin-bottom: 25px;
}
.sidebar .logo a {
  display: block;
  text-align: center;
}
.sidebar .logo a img {
  width: 60%;
}
.sidebar .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar .menu ul li {
  border-top: 1px solid #e4e5e7;
}
.sidebar .menu ul li a {
  text-align: left;
  font-weight: 700;
  display: block;
  padding: 15px 20px;
  text-transform: uppercase;
  color: #6a6c6f;
  background: #f1f3f6;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sidebar .menu ul li a i {
  float: right;
}
.sidebar .menu ul li a:hover {
  color: #34495e;
  background: #ffffff;
  text-decoration: none;
}
.sidebar .menu ul li:last-child {
  border-bottom: 1px solid #e4e5e7;
}
.sidebar .menu .active-page {
  color: #3498db !important;
  background: #fff !important;
}
.sidebar .copy {
  margin-top: 25px;
  color: #6a6c6f;
  font-size: .8em;
  text-align: center;
}
.sidebar .copy p {
  margin: 3px 0;
}

/* CONTENT 
======================== */
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-container img {
  width: 200px;
}
.login-container form {
  margin: 50px 125px;
  text-align: left;
}
.login-container form input {
  margin-bottom: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.login-container form button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.page .container {
  color: #6a6c6f;
  padding: 0;
  margin-top: 50px;
}

.page-title {
  margin-bottom: 35px;
  justify-content: space-between;
}
.page-title h1 {
  margin: 0;
  color: #000;
  font-size: 2em;
}

.panel {
  margin-bottom: 50px;
  border: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.panel .panel-heading {
  background: #f1f3f6;
}
.panel .panel-heading ul {
  display: inline-block;
  list-style-type: none;
  text-align: right;
  float: right;
}
.panel .panel-heading ul li {
  display: inline-block;
}
.panel .panel-heading ul li .green {
  margin-right: 5px;
}
.panel .panel-heading ul li .red {
  margin-right: 5px;
}
.panel .panel-heading ul li:last-child {
  margin-left: 10px;
}
.panel .panel-heading span {
  font-weight: 400;
  font-style: italic;
}
.panel .panel-heading span:before {
  content: '€';
  margin-right: 5px;
}
.panel .item-title {
  border-bottom: 1px solid #e4e5e7;
}
.panel .item-title span, .panel .item span {
  padding: 3px 0;
  display: inline-block;
}
.panel .item-title .date, .panel .item .date {
  width: 10%;
}
.panel .item-title .title, .panel .item .title {
  width: 65%;
}
.panel .item-title .budget, .panel .item .budget {
  font-style: italic;
  text-align: right;
  width: 20%;
}
.panel .item-title .delete, .panel .item .delete {
  text-align: right;
  width: 3%;
}
.panel .todo-list {
  margin: 0;
  padding-left: 20px;
}
.panel .todo-list li {
  padding: 3px 0;
}
.panel .todo-list a {
  float: right;
}

.doc-table th:first-child,
.doc-table td:first-child {
  width: 40px;
}
.doc-table th:nth-child(2),
.doc-table td:nth-child(2) {
  width: 125px;
}
.doc-table th:nth-child(3),
.doc-table td:nth-child(3) {
  width: 200px;
}
.doc-table th:nth-child(5),
.doc-table td:nth-child(5) {
  text-align: right;
  width: 125px;
}
.doc-table th:last-child,
.doc-table td:last-child {
  width: 100px;
  text-align: right;
  font-style: italic;
}

/* FOOTER 
======================== */
/* RESPONSIVE 
======================== */
/* ANIMATION 
======================== */
